## Libraries and Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sts
%matplotlib inline

In [2]:
!ls kiva_ds_csv

lenders.csv       loans.csv         loans_lenders.csv

In [2]:
lenders = pd.read_csv('kiva_ds_csv/lenders.csv')

In [4]:
lenders.head()

,PERMANENT_NAME,DISPLAY_NAME,MAIN_PIC_ID,CITY,STATE,COUNTRY_CODE,MEMBER_SINCE,PERSONAL_URL,OCCUPATION,LOAN_BECAUSE,OTHER_INFO,LOAN_PURCHASE_NUM,INVITED_BY,NUM_INVITED
0,qian3013,Qian,NaN,NaN,NaN,NaN,1461300457,NaN,NaN,NaN,NaN,1.0,NaN,0
1,reena6733,Reena,NaN,NaN,NaN,NaN,1461300634,NaN,NaN,NaN,NaN,9.0,NaN,0
2,mai5982,Mai,NaN,NaN,NaN,NaN,1461300853,NaN,NaN,NaN,NaN,NaN,NaN,0
3,andrew86079135,Andrew,NaN,NaN,NaN,NaN,1461301091,NaN,NaN,NaN,NaN,5.0,Peter Tan,0
4,nguyen6962,Nguyen,NaN,NaN,NaN,NaN,1461301154,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
loans = pd.read_csv('kiva_ds_csv/loans.csv', parse_dates=['POSTED_TIME', 'PLANNED_EXPIRATION_TIME', 'DISBURSE_TIME',
       'RAISED_TIME'])

In [3]:
loans_lenders = pd.read_csv('kiva_ds_csv/loans_lenders.csv')

In [6]:
lenders.isnull().sum()

PERMANENT_NAME             0
DISPLAY_NAME            2768
MAIN_PIC_ID          1590116
CITY                 1619306
STATE                1713481
COUNTRY_CODE         1458635
MEMBER_SINCE               0
PERSONAL_URL         2189805
OCCUPATION           1844514
LOAN_BECAUSE         2174852
OTHER_INFO           2154640
LOAN_PURCHASE_NUM     894281
INVITED_BY           1852349
NUM_INVITED                0
dtype: int64

In [7]:
lenders.shape

(2349174, 14)

In [8]:
loans.shape

(1419607, 34)

In [9]:
loans_lenders.shape

(1387432, 2)

In [3]:
loans_lenders["LENDERS_lst"] = loans_lenders["LENDERS"].map(lambda x: x.split(','))

In [4]:
loans_lenders.to_csv('ll.csv')

In [5]:
ls

Kiva_EDA.ipynb                       lender_dataset_fromMalissa/
Kiva_Matrix.ipynb                    ll.csv
LenderPersonas2015Posters_FINAL.pdf  main.py
README.md                            private/
kiva_ds_csv/                         scripts/

In [11]:
ll = loans_lenders.copy()

In [12]:
ll.head()

,LOAN_ID,LENDERS,LENDERS_lst
0,483693,"muc888, sam4326, camaran3922, lachheb1865, reb...","[muc888, sam4326, camaran3922, lachheb1865,..."
1,483738,"muc888, nora3555, williammanashi, barbara5610,...","[muc888, nora3555, williammanashi, barbara5..."
2,485000,"muc888, terrystl, richardandsusan8352, sherri4...","[muc888, terrystl, richardandsusan8352, she..."
3,486087,"muc888, james5068, rudi5955, daniel9859, don92...","[muc888, james5068, rudi5955, daniel9859, ..."
4,534428,"muc888, niki3008, teresa9174, mike4896, david7...","[muc888, niki3008, teresa9174, mike4896, d..."

In [6]:
loans_lenders = loans_lenders.drop('LENDERS',axis=1)

In [7]:
lst_col = 'LENDERS_lst'
df_ll = pd.DataFrame({col:np.repeat(loans_lenders[col].values, loans_lenders[lst_col].str.len())for col in loans_lenders.columns.difference([lst_col])}).assign(**{lst_col:np.concatenate(loans_lenders[lst_col].values)})[loans_lenders.columns.tolist()]

In [8]:
df_ll.head()

   LOAN_ID   LENDERS_lst
0   483693        muc888
1   483693       sam4326
2   483693   camaran3922
3   483693   lachheb1865
4   483693   rebecca3499

In [9]:
#strip extra space and convert to lower case
df_ll["LENDERS_lst"] = df_ll.LENDERS_lst.apply(lambda x: x.strip().lower())

In [17]:
len(df_ll['LOAN_ID'].unique())

1387432

In [18]:
len(df_ll['LENDERS_lst'].unique())

1383799

In [13]:
ll = pd.read_csv('ll.csv',index_col=0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [14]:
ll.head()

,LOAN_ID,LENDERS,LENDERS_lst
0,483693,"muc888, sam4326, camaran3922, lachheb1865, reb...","['muc888', ' sam4326', ' camaran3922', ' lachh..."
1,483738,"muc888, nora3555, williammanashi, barbara5610,...","['muc888', ' nora3555', ' williammanashi', ' b..."
2,485000,"muc888, terrystl, richardandsusan8352, sherri4...","['muc888', ' terrystl', ' richardandsusan8352'..."
3,486087,"muc888, james5068, rudi5955, daniel9859, don92...","['muc888', ' james5068', ' rudi5955', ' daniel..."
4,534428,"muc888, niki3008, teresa9174, mike4896, david7...","['muc888', ' niki3008', ' teresa9174', ' mike4..."

In [4]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#Step 1. Load the data
descriptions = loans_lenders.LENDERS

#Step 2. Vectorize, Stem and Lemmatize words

vect = CountVectorizer()
model = vect.fit_transform(descriptions)

In [19]:
# import pandas as pd
# from sklearn.decomposition import NMF

# from nltk.corpus import stopwords
# from nltk.tokenize import word_tokenize
# from nltk.stem.snowball import SnowballStemmer
# from nltk.stem.wordnet import WordNetLemmatizer

# import numpy as np
# from bs4 import BeautifulSoup
import string


#Step 1. Load the data
descriptions = ll.LENDERS

#Step 2. Vectorize, Stem and Lemmatize words

vect = CountVectorizer()
model = vect.fit_transform(descriptions)

def tokenize(doc):
#     soup = BeautifulSoup(doc,'html.parser')
#     text = soup.get_text()
    translater = str.maketrans('','',string.punctuation)
    a = [word_tokenize(descriptions.translate(translater))]
    return a

# vect = TfidfVectorizer(analyzer='word',tokenizer=tokenize)
# model = vect.fit_transform(descriptions)
# features = vect.get_feature_names()

In [5]:
vocs = vect.vocabulary_

In [6]:
vocs

{'muc888': 970524,
 'sam4326': 1153379,
 'camaran3922': 187221,
 'lachheb1865': 758772,
 'rebecca3499': 1090160,
 'karlheinz4543': 687280,
 'jerrydb': 588362,
 'paula8951': 1043143,
 'gmct': 460491,
 'amra9383': 55499,
 'r3922': 1070591,
 'brian9451': 173534,
 'shree8053': 1211636,
 'alan5513': 20910,
 'oisin3389': 1013325,
 'helle8622': 493827,
 'bo3186': 155244,
 'ric8947': 1100676,
 'daniel98469874': 293820,
 'nick9464': 997062,
 'deborah12671549': 324271,
 'matthew9831': 903812,
 'john6330': 625395,
 'john9479': 629170,
 'mattiaslaven': 904640,
 'jonathan2867': 634706,
 'jason3883': 553793,
 'highgrovechurch': 497388,
 'maria3124': 856849,
 'dino5102': 345557,
 'jonathan7946': 636382,
 'ann8187': 87948,
 'bryan2669': 181328,
 'john88459657': 628429,
 'eddyphil': 364686,
 'don9212': 349902,
 'carolineandcolin9686': 202938,
 'bent8782': 140770,
 'raph8817': 1084888,
 'danielle2350': 295148,
 'nora3555': 1009795,
 'williammanashi': 1365019,
 'barbara5610': 127737,
 'danhostetler': 287638,
 'daniel1104': 288051,
 'amirali5409': 54638,
 'oceanwest': 1012761,
 'greg69396003': 467071,
 'trolltech4460': 1324264,
 'thedragonflykeeper': 1289796,
 'patrick8466': 1034124,
 'priscilla3168': 1067544,
 'terrystl': 1287870,
 'richardandsusan8352': 1106808,
 'sherri4341': 1207418,
 'gooddogg1': 461092,
 'danny6470': 297668,
 'jacqueline4838': 526269,
 'diederik8163': 343625,
 'ryan54597608': 1144692,
 'james5068': 533699,
 'rudi5955': 1139158,
 'daniel9859': 293823,
 'chandrakant6134': 218923,
 'karyne5301': 688817,
 'robert2280': 1114890,
 'darrellynne7000': 300363,
 'bryan9912': 182244,
 'sueandbob4088': 1253032,
 'pennie4480': 1048105,
 'niki3008': 1003535,
 'teresa9174': 1284824,
 'mike4896': 950774,
 'david7683': 313848,
 'dittes': 346355,
 'margaret7172': 853598,
 'jessica1977': 590907,
 'william7288': 1363734,
 'dennisg': 333931,
 'chrisbioteau': 237926,
 'victor9593': 1341476,
 'peter3881': 1051854,
 'andrew8575': 75163,
 'stephen2848': 1238917,
 'douglas8863': 358063,
 'arthur1148': 111099,
 'tristan7990': 1324096,
 'shivaun4955': 1211003,
 'sam44598568': 1153410,
 'catherine7003': 211446,
 'summer7416': 1254537,
 'jim8842': 602523,
 'brett5260': 168454,
 'roger2252': 1126703,
 'jolanda1942': 631564,
 'anila7468': 83693,
 'elizabeth31676552': 378172,
 'john38425073': 622224,
 'marianne8717': 861647,
 'lisette1963': 809661,
 'motoharu1020': 969370,
 'elly3162': 385889,
 'lena9976': 784133,
 'omkara': 1017310,
 'dougal1825': 357112,
 'jensdamsgaardvanar': 584344,
 'maeve9455': 837158,
 'ross6632': 1136260,
 'toni3909': 1314220,
 'ali3337': 35536,
 'eric4693': 399600,
 'martsrinandpete9620': 884447,
 'hans7879': 479991,
 'wonmilee': 1366963,
 'thomas93758238': 1296755,
 'thomas1513': 1293193,
 'emofund': 396655,
 'phisquared': 1060152,
 'nealkapur': 989183,
 'vic5854': 1339136,
 'christian8925': 240479,
 'minerva9365': 955896,
 'rebecca3038': 1089970,
 'paul1853': 1036664,
 'zach7677': 1378306,
 'dana9865': 287032,
 'ankit3005': 85789,
 'erich7889': 403145,
 'judith5696': 656114,
 'klaus5005': 743383,
 'john70242429': 626236,
 'terry9343': 1287710,
 'karly7529': 687466,
 'donna1305': 351388,
 'jodi8604': 612078,
 'jitendra7163': 604393,
 'leon2765': 785163,
 'elizabeth8018': 381228,
 'ramius65': 1082081,
 'kevin25138119': 728236,
 'larissa7348': 762164,
 'evan5101': 414339,
 'vesa6130': 1338769,
 'mortens2943': 969165,
 'corinne3582': 269935,
 'zane9551': 1380203,
 'christine3066': 244396,
 'brett2942': 168242,
 'karen1474': 678344,
 'gw9898': 473095,
 'maria1361': 856240,
 'ashleyleah5650': 116388,
 'anne85489799': 95871,
 'robert7675': 1118747,
 'vijay6109': 1343827,
 'harald8041': 480944,
 'ken4292': 721358,
 'alexander7609': 31127,
 'rc4114': 1088630,
 'bernadette6835': 141313,
 'jean2544': 560711,
 'geko': 445467,
 'lynn9800': 832156,
 'brad4706': 160709,
 'thomas9243': 1296682,
 'john56443992': 624516,
 'karen84738084': 682873,
 'steve2888': 1242479,
 'gayle9959': 444824,
 'melinda8816': 918769,
 'karen1024': 678019,
 'mbc1842': 909810,
 'herta6220': 496840,
 'kaleddis': 675116,
 'cruisecompete': 276043,
 'ashna3311': 116557,
 'wesley2313': 1358240,
 'juan6929': 653930,
 'thomas7482': 1295891,
 'dnak17': 347298,
 'tom7497': 1311413,
 'morten9659': 969143,
 'sverker1303': 1268148,
 'kenanddoris2463': 722342,
 'jennifer12256404': 574110,
 'jude': 654956,
 'marianne8308': 861617,
 'aaronplaat': 2907,
 'hollito': 500026,
 'roger9399': 1127518,
 'jenjh': 572148,
 'bob6818': 156475,
 'mmm2529': 960445,
 'jultomten': 668274,
 'aaron83574977': 2444,
 'minoa': 956397,
 'donald1176': 350089,
 'henrik8047': 495156,
 'david5193': 310251,
 'tippsnet': 1306244,
 'tiffanyww': 1299478,
 'tom2508': 1309557,
 'sachin9747': 1148751,
 'chris2963': 232781,
 'srenchr1931': 1227145,
 'eva5758': 413391,
 'lukas3902': 826746,
 'peter8627': 1054450,
 'katherine6420': 695802,
 'russayres': 1140450,
 'joseph8886': 645406,
 'jenny1824': 582479,
 'jivan3702': 604486,
 'elizabeth6786': 380478,
 'steve2304': 1242239,
 'yousaf9433': 1374771,
 'anne3221': 93974,
 'pgodiwala': 1056510,
 'karen27277399': 679162,
 'dale2883': 281377,
 'theo8546': 1290395,
 'joannagiles7076': 609238,
 'mark4564': 872230,
 'nicki2616': 997356,
 'frequentmiler': 434892,
 'katie52857580': 705947,
 'sara7523': 1167649,
 'brent8569': 167718,
 'reetajaroope6400': 1094204,
 'anna3370': 89425,
 'robert82472438': 1119168,
 'lloyd5595': 812860,
 'peter3943': 1051903,
 'oliver5716': 1014839,
 'pureum8105': 1069030,
 'lisa4011': 805178,
 'ryan': 1142988,
 'davidberkowitz': 317518,
 'verdad': 1337330,
 'evan7711': 414609,
 'kate8576': 692652,
 'cesarpwm11': 217210,
 'tammy8086': 1274808,
 'gwyneth8834': 473699,
 'john59229829': 624889,
 'olivia8246': 1015924,
 'tanya2648': 1276520,
 'frode1997': 435365,
 'erik8516': 404420,
 'stephane7818': 1234189,
 'jill1216': 597820,
 'rory7597': 1132686,
 'julien3299': 667326,
 'givingsomeback': 457955,
 'mohammad5457': 961373,
 'annemarie7077': 97213,
 'stephen6879': 1240254,
 'dorothy2740': 355187,
 'emma8443': 395694,
 'sbastien6463': 1180353,
 'frederic9655': 434043,
 'bill7550': 151027,
 'martin6086': 882834,
 'brian1080': 169060,
 'kathleen2227': 697490,
 'robert5226': 1116949,
 'marjo1748': 869204,
 'clive5910': 262110,
 'steven3253': 1246370,
 'brooke4972': 178634,
 'tuire8253': 1325692,
 'cakeordeath8064': 185838,
 'kevin7809': 730738,
 'popness': 1064175,
 'maarten6927': 833578,
 'wynne1047': 1367721,
 'laura4759': 767247,
 'jennifer2139': 574947,
 'daniel4451': 290198,
 'cmak': 262411,
 'drzero': 359670,
 'rferons': 1099185,
 'joehoyle': 615259,
 'lucy5005': 824317,
 'liselotte2813': 809622,
 'krauspartner': 745421,
 'william8070': 1364082,
 'al1898': 19416,
 'hook': 501845,
 'courtney8657': 272460,
 'victor3619': 1340980,
 'sean4105': 1186038,
 'afroze4263': 14402,
 'kaat7628': 672890,
 'lisa9330': 808654,
 'veronique2380': 1338632,
 'james14984376': 531210,
 'mohannad': 962148,
 'dragan9652': 358396,
 'alice8507': 37100,
 'danae3046': 287072,
 'david3320': 307537,
 'dan1417': 283150,
 'mary5466': 888023,
 'karin9948': 685601,
 'holly2320': 500222,
 'david81653552': 314554,
 'peter1098': 1050318,
 'katy9250': 709620,
 'race6335': 1070770,
 'greg2855': 466168,
 'william61459677': 1363233,
 'carlton2205': 195214,
 'jamie3277': 538203,
 'lynn3173': 831102,
 'teresaandrick': 1284937,
 'coryandjona1206': 271155,
 'nancy37087482': 977151,
 'indiamos': 511062,
 'scott2473': 1181492,
 '9678': 531,
 'marilyn9210': 865617,
 'paul7054': 1040009,
 'sarah5545': 1172712,
 'craig97299604': 274221,
 'maria7751': 858406,
 'murray6640': 971679,
 'erin6040': 407230,
 'annw9506': 100130,
 'vasanthi': 1335564,
 'sue3979': 1251820,
 'pierre5880': 1061574,
 'daleandcallie9707': 281874,
 'lisa4456': 805471,
 'sacham': 1148590,
 'tlaurie': 1306819,
 'janmarie3474': 549691,
 'marian7076': 860413,
 'allwinjose8370': 44746,
 'michele8616': 941469,
 'lucy4898': 824305,
 'michael68567474': 934604,
 'ryanandjoanna6615': 1146484,
 'suresh6523': 1256208,
 'danlandrum': 297079,
 'oliver10303': 1014505,
 'jennifer6373': 578736,
 'sue7474': 1252521,
 'elsa2087': 386418,
 'patrick1809': 1032156,
 'elizabeth6032': 379995,
 'shauna6520': 1201429,
 'james1059': 530860,
 'mark4231': 872012,
 'erika7219': 405142,
 'benjamin3549': 139048,
 'jim2503': 600568,
 'sarah4958': 1172174,
 'anneke9304': 96674,
 'houseofprayer2259': 502423,
 'rune8044': 1139912,
 'joseph2420': 643539,
 'andreaandwouter6544': 68405,
 'anthony9138': 102439,
 'harald2732': 480872,
 'tony9074': 1315975,
 'lesley6172': 786898,
 'kevinandmary6376': 731810,
 'deepakgeetakevinronak': 328655,
 'khanh2725': 732601,
 'nikocaro1392': 1004544,
 'harman2779': 481613,
 'michael81276976': 936318,
 'klaus5809': 743397,
 'lesley4647': 786816,
 'pedro2429': 1046103,
 'nollaig5959': 1009379,
 'evie2916': 416275,
 'jim5285': 601414,
 'metin8315': 925543,
 'gerald7282': 450887,
 'debbieandmark5399': 323728,
 'derekh': 335209,
 'karin9520': 685562,
 'lee6515': 781180,
 'thomas7955': 1296118,
 'sandeepsingh2858': 1159345,
 'sarahandadam5448': 1176722,
 'rinie4717': 1109865,
 'chuck2380': 251776,
 'stefanomiari': 1232898,
 'doug4093': 356339,
 'toplistbestfictionbo5564': 1316534,
 'gerlinde6463': 452079,
 'naomi67885443': 980888,
 'mikemaria7249': 953368,
 'tobias5075': 1307191,
 'tanmay': 1276098,
 'susan5953': 1260243,
 'douglas8995': 358078,
 'jeanne53233964': 563431,
 'jellodiva': 570435,
 'judy3495': 657288,
 'denise7392': 331989,
 'amornwan4232': 55362,
 'terry52663587': 1287199,
 'cassie8926': 208775,
 'wouterandfany': 1367292,
 'john9570': 629271,
 'natasha7298': 984834,
 'juergen5908': 658708,
 'stacy1379': 1229511,
 'praveenrajasekar': 1066533,
 'patrickruetter': 1034717,
 'jane3454': 542904,
 'christopher7476': 249989,
 'nora6823': 1009956,
 'sarah1211': 1168772,
 'ryan1096': 1143030,
 'jcagomes': 560146,
 'suzanne8918': 1267065,
 'kerry4093': 726439,
 'dave6914': 303082,
 'gsk': 470458,
 'harry9324': 483044,
 'eileenandvictor8943': 369746,
 'joan6711': 607075,
 'francine1535': 429201,
 'craig1296': 272853,
 'mac9412': 833856,
 'eric8583': 401235,
 'salandrob6186': 1150478,
 'caseyl': 207687,
 'joannaandmike4344': 609232,
 'norvan3688': 1011417,
 'john1288': 619129,
 'neil6273': 990534,
 'leah6742': 779207,
 'michaelandmelinda9592': 939224,
 'karen2944': 679306,
 'zach9722': 1378446,
 'jordan7519': 639307,
 'thewalker9311': 1292190,
 'robert6772': 1118098,
 'sarahkathryn': 1176992,
 'karon4417': 687918,
 'doug5185': 356471,
 'ronald8745': 1131321,
 'charles6358': 221645,
 'laura3959': 766684,
 'kara1501': 677134,
 'joan60553118': 606966,
 'jessica4connections': 592659,
 'shailesh': 1192666,
 'mingus8729': 956059,
 'christian3503': 239535,
 'nomax': 1009415,
 'frode': 435359,
 'victorial2870': 1343178,
 'stephen5987': 1239941,
 'paul23765609': 1037020,
 'paul6428': 1039594,
 'erin6824': 407475,
 'jacob9653': 525557,
 'william2639': 1361742,
 'elliot3732': 385487,
 'connie4751': 266896,
 'elena6794': 372980,
 'carmen7376': 196367,
 'laura1179': 764826,
 'heather1546': 485471,
 'phillip7727': 1059889,
 'marc1631': 846327,
 'kris1903': 745593,
 'angus2640': 83065,
 'jamesandshell2373': 537381,
 'tamarab': 1273562,
 'mark2704': 870891,
 'indraneel7687': 511188,
 'nancy7311': 978665,
 'shannonandpatti7539': 1196545,
 'george8634': 449254,
 'frost': 435436,
 'matthieu6433': 904341,
 'matthew3047': 900391,
 'janandmaggie7749': 542065,
 'patricia1648': 1028671,
 'lidia1788': 791755,
 'eunice7763': 412752,
 'donald5571': 350422,
 'richard7719': 1105534,
 'pamela5886': 1023858,
 'mike1401': 949181,
 'scott9873': 1184738,
 'brenda5160': 165495,
 'michael21418121': 928446,
 'annette8725': 98120,
 'regyjohn': 1095086,
 'rick8888': 1108243,
 'craig7834': 273906,
 'ben9420': 137901,
 'morgan7663': 968411,
 'susanne5176': 1264290,
 'hosewinckel7660': 502309,
 'gao': 440427,
 'ed5743': 363811,
 'amy7726': 59378,
 'ravi9208': 1086592,
 'albert8248': 22891,
 'anne8157': 95738,
 'adamcordle': 10221,
 'lori9430': 817446,
 'christopher5171': 249133,
 'kamila1320': 676223,
 'steve4890': 1243335,
 'donandkathy6425': 350907,
 'peter5514': 1052722,
 'tony7571': 1315735,
 'paulandrobyn5292': 1043508,
 'jennifer9341': 581437,
 'kirkland': 740794,
 'stanhope8974': 1230590,
 'iole2405': 513287,
 'arnaud4525': 109946,
 'steven5197': 1246944,
 'nigel4691': 1002936,
 'lpgiraldez': 821409,
 'mihai3611': 948238,
 'marcziesmer': 851485,
 'robenlinda2270': 1113900,
 'vana5220': 1333695,
 'lionel1946': 802932,
 'david66129435': 312304,
 'sam8974': 1154489,
 'sijanrai': 1214108,
 'mike7912': 952102,
 'delbert3382': 329607,
 'jillian1643': 599593,
 'gregandclare1849': 467802,
 'tom7014': 1311256,
 'tomandjune3533': 1312412,
 'jy1024': 672462,
 'angelina4435': 81973,
 'charlie1085': 222690,
 'julian8731': 662273,
 'detlef': 336382,
 'anne9845': 96305,
 'mike1219': 949099,
 'john8871': 628461,
 'david61297495': 311618,
 'divingdoc36': 346418,
 'pat5984': 1027447,
 'giovannicataldi4083': 457026,
 'pierre5663': 1061565,
 'diane3510': 340917,
 'burger': 183548,
 'victor3258': 1340944,
 'thomas3234': 1293895,
 'szucheng2565': 1270903,
 'ricardo7052': 1101135,
 'jack9289': 522062,
 'richard4874': 1104000,
 'jessieinez': 596053,
 'andyangie8000': 78182,
 'maryana3992': 891003,
 'idun4242': 508610,
 'steve7920': 1244590,
 'willychu': 1365349,
 'irmark': 515224,
 'martinezfamilynm': 884321,
 'nazaret7843': 988752,
 'brian87298920': 173143,
 'fiona7583': 425071,
 'alex7802': 28764,
 'rhonda6343': 1100039,
 'john37481062': 622108,
 'susan5956': 1260244,
 'albert8514': 22910,
 'john1879': 619847,
 'zoec': 1382878,
 'sidney4048': 1213248,
 'uncleed1619': 1329631,
 'trogdorfamily7622': 1324254,
 'sarah2583': 1170040,
 'mark99806535': 876251,
 'dale2183': 281334,
 'michelleandkristian9819': 946544,
 'jonesfamily': 637391,
 'stacey7032': 1228875,
 'jane8369': 544224,
 'mark9645': 876018,
 'sabine4826': 1147675,
 'frdric2486': 433018,
 'susan9076': 1262546,
 'gunhild2366': 471648,
 'matthew7154': 902534,
 'daleanddave4907': 281875,
 'michael1246': 927264,
 'dean2234': 320316,
 'james5070': 533701,
 'hamish8276': 475910,
 'iannace': 507909,
 'anne9124': 96086,
 'avezziefamily': 121788,
 'owassofumc3326': 1019613,
 'ellen4684': 383884,
 'lynn5507': 831483,
 'francois6628': 430469,
 'phill9950': 1059534,
 'ilona9961': 510063,
 'dina6457': 345133,
 'bumpycat': 183438,
 'enwezor2644': 397548,
 'cathianne8063': 212451,
 'marcandr8568': 847546,
 'mishka8668': 958496,
 'avi9735': 121878,
 'barbara2376': 126325,
 'susan2633': 1257738,
 'gianandreaeandrea': 453359,
 'laurelz': 771727,
 'vgopinath': 1338927,
 'jose3712': 641684,
 'gene8177': 446093,
 'skreened': 1219325,
 'jeff2322': 565403,
 'kevin6441': 730087,
 'bill8134': 151164,
 'richard1132': 1102100,
 'robert1951': 1114640,
 'gomike': 460916,
 'neak': 988959,
 'pedersmed4472': 1046005,
 'michael48913780': 932022,
 'patrick8201': 1034053,
 'kaspar4426': 689197,
 'malte4719': 842350,
 'sarah10669637': 1168639,
 'john56537153': 624534,
 'weinberger': 1355123,
 'daniel5023': 290570,
 'kristin2911': 749990,
 'darebakus7028': 299004,
 'arica': 107962,
 'michael63426267': 933897,
 'joshuachan': 649730,
 'magdalena9892': 837612,
 'harold5997': 481870,
 'michael3061': 929697,
 'tage': 1271449,
 'hedymaigs': 489236,
 'linde6700': 799926,
 'nigel5030': 1002948,
 'gallifante': 440066,
 'caryl7997': 206738,
 'alberto5618': 23201,
 'donald3162': 350237,
 'bill9445': 151477,
 'rich6705': 1101781,
 'charles6568': 221699,
 'bubbascafe': 183103,
 'tracey8474': 1318437,
 'daniel1064': 288024,
 'dennis4138': 333090,
 'jarrod4964': 551800,
 'karen6436': 681573,
 'egl': 368716,
 'nick8730': 996881,
 'heike1534': 490608,
 'beverly': 147466,
 'ken7832': 721928,
 'gerald5541': 450811,
 'andyonkiva': 78258,
 'margaret1978': 852269,
 'susan9216': 1262658,
 'goodshepherducc9050': 461112,
 'pryor2007': 1068494,
 'brenda6332': 165673,
 'mark8092': 874825,
 'david3125': 307233,
 'anne3351': 94013,
 'wjp': 1366430,
 'benedictsteele': 138329,
 'kim3330': 734652,
 'marsha7181': 879190,
 'lasse8792': 764240,
 'stephen2764': 1238881,
 'nathan7801': 987040,
 'pascalvanhecke': 1026623,
 'jasonlee': 556484,
 'ted8755': 1282306,
 'wayne6139': 1354265,
 'sharon4463': 1198795,
 'howard7012': 502744,
 'anders4222': 63703,
 'charlie3879': 222872,
 'matt50679987': 897394,
 'joan9289': 607528,
 'michele4530': 940881,
 'maphew': 845692,
 'zim7148': 1381947,
 'melissa7297': 921352,
 'julie3027': 663921,
 'brendan1249': 166243,
 'antonio6568': 103942,
 'creativeeconomy': 274433,
 'james4890': 533568,
 'xyz1373': 1369425,
 'caroline4851': 201899,
 'mags6440': 839068,
 'starsknight': 1231083,
 'joanna6771': 608921,
 'dorien8995': 354388,
 'natalie4612': 983138,
 'peggy1370': 1046794,
 'luke8286': 827775,
 'chalanx': 218386,
 'jannis9788': 550163,
 'prabodh5470': 1064741,
 'diane6096': 341548,
 'leslie8320': 788391,
 'carlo9232': 193767,
 'bernhard1113': 141961,
 'jennifer86293639': 580756,
 'rie6860': 1108941,
 'natoya4299': 987962,
 'tracey9969': 1318543,
 'roman6673': 1129080,
 'laurie9583': 776818,
 'chad1043': 217389,
 'hisadafamily8666': 499059,
 'lauraleong': 771061,
 'jim7785': 602199,
 'thomas3791': 1294155,
 'julie8037': 666244,
 'maureenandbill7908': 906242,
 'joel5645': 615825,
 'leeann5973': 781706,
 'derek9183': 335104,
 'stephen7228': 1240365,
 'timothy6485': 1304088,
 'sandy5828': 1163224,
 'tim4819': 1301142,
 'stewartandjoanna6718': 1248661,
 'albertw': 23397,
 'timothy7790': 1304272,
 'wendy9105': 1357417,
 'roxandal5758': 1137177,
 'heidi9127': 490404,
 'sandy3893': 1163034,
 '25perday': 243,
 'ali91125852': 35982,
 'angela6286': 80458,
 'natalie16922915': 982584,
 'matthew64195818': 902156,
 'brooke8026': 178836,
 'paula3738': 1042336,
 'catherine8081': 211760,
 'christy2688': 251092,
 'lindsay3373': 800304,
 'jasoninchicago': 556462,
 'jenny2529': 582637,
 'frank3452': 431041,
 'raymond4538': 1088036,
 'rob6883': 1112852,
 'vasu6972': 1335731,
 'molly3537': 963182,
 'jonathanheather1555': 637136,
 'andrew2954': 71492,
 'erica7803': 402650,
 'ultrasara': 1329215,
 'john36421277': 621990,
 'mariliis4011': 864697,
 'renee8611': 1097877,
 'leanne5754': 780125,
 'tim4058': 1300883,
 'sudds': 1250839,
 'jo8468': 605772,
 'adamscottprice': 10306,
 'wilma6195': 1365419,
 'nate4569': 985253,
 'carolyn8576': 204499,
 'kelly31908638': 717073,
 'brenda9272': 166089,
 'mary3259': 886615,
 'caroline5418': 202004,
 'anush6731': 104923,
 'mel7714': 916430,
 'vladstan': 1350244,
 'leejohn8697': 781881,
 'lynn5475': 831473,
 'suthi': 1265297,
 'ajit3049': 18486,
 'toby1460': 1307446,
 'dawn6170': 319024,
 'beth1817': 143076,
 'michael64749969': 934095,
 'tfrab': 1288657,
 'christopher38035375': 248662,
 'lloydminsterrotarycl6639': 812947,
 'julie9582': 666932,
 'lorenzo7127': 815681,
 'jeanetteingrid9958': 562498,
 'kimberly5146': 738116,
 'shirley1905': 1209955,
 'barbara5987': 127904,
 'alexiosstefanos5966': 33917,
 'lorea3139': 815031,
 'sean3201': 1185834,
 'jeffreyandannegret9319': 570108,
 'douglas3301': 357472,
 'steve8782': 1244943,
 'marion2587': 867122,
 'judy9116': 658400,
 'shane8924': 1194152,
 'gord6319': 461438,
 'john5744': 624646,
 'marthaandrobert8020': 881173,
 'karin8006': 685433,
 'dennis9163': 333775,
 'sustainableequity9628': 1265223,
 'karen8054': 682611,
 'sandy3287': 1162974,
 'cchan3330': 214772,
 'ben95621346': 137943,
 'andrew5018': 72758,
 'yoram3554': 1374149,
 'phonse5983': 1060404,
 'david77732635': 313969,
 'normandmichelle8811': 1011305,
 'howard4754': 502653,
 'kevinandkevin5061': 731795,
 'jimandmaggie': 602975,
 'halli1215': 475555,
 'kate8166': 692530,
 'gustavocpimenta': 472665,
 'joann9259': 608296,
 'william1104': 1361106,
 'peeta5736': 1046582,
 'tracy9170': 1320161,
 'eric3465': 399072,
 'diane5157': 341317,
 'christina1088': 241388,
 'john6732': 625880,
 'debra7424': 327215,
 'nelson3926': 991533,
 'haitham': 474613,
 'michael6150': 933649,
 'wendy4343': 1356367,
 'austin1984': 120520,
 'jaclyn4676': 524033,
 'louise1987': 820019,
 'neilthanedar': 991025,
 'wendy5056': 1356535,
 'kate4058': 691180,
 'cathy6947': 213715,

In [9]:
import numpy as np

In [10]:
import json
with open('vocs.json', 'w') as fp:
    def default(o):
        if isinstance(o, np.int64): return int(o)  
        raise TypeError

    json.dumps(vocs, default=default)

#     json.dump(vocs, fp)

In [12]:
import boto3

In [13]:
s3 = boto3.resource('s3')

In [15]:
for bucket in s3.buckets.all():
    print (bucket.name)

aws-logs-816738836913-us-east-1
kiva615
liyou-test
mrjob-eb1c5878be6f973e
sparkly920713

In [16]:
data = open('vocs.json','rb')

In [19]:
import pickle

In [20]:
with open("vocs.txt", "wb") as myFile:
    pickle.dump(vocs, myFile)

In [21]:
ls

Kiva_EDA.ipynb                       ll.csv
Kiva_Matrix.ipynb                    main.py
LenderPersonas2015Posters_FINAL.pdf  private/
README.md                            scripts/
kiva_ds_csv/                         vocs.txt
lender_dataset_fromMalissa/

In [22]:
df_ll['lender_v'] = df_ll['LENDERS_lst'].map(lambda x: vocs[x])

In [23]:
df_ll.head()

   LOAN_ID  LENDERS_lst  lender_v
0   483693       muc888    970524
1   483693      sam4326   1153379
2   483693  camaran3922    187221
3   483693  lachheb1865    758772
4   483693  rebecca3499   1090160

In [25]:

with open('vocs.pickle', 'wb') as handle:
    pickle.dump(vocs, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [26]:
ls

Kiva_EDA.ipynb                       ll.csv
Kiva_Matrix.ipynb                    main.py
LenderPersonas2015Posters_FINAL.pdf  private/
README.md                            scripts/
df_ll.csv                            vocs.pickle
kiva_ds_csv/                         vocs.txt
lender_dataset_fromMalissa/

In [24]:
df_ll.to_csv('df_ll.csv')

In [34]:
from scipy.sparse import csr_matrix

In [25]:
df_l = df_ll.copy()

In [27]:
df_l = df_ll.drop('LENDERS_lst',axis = 1)

In [28]:
df_l.head()

   LOAN_ID  lender_v
0   483693    970524
1   483693   1153379
2   483693    187221
3   483693    758772
4   483693   1090160

In [29]:
len(df_l['LOAN_ID'].unique())

1387432

In [30]:
len(df_l['lender_v'].unique())

1383799

In [31]:
df_array = df_l.values

In [32]:
df_array.shape

(28293931, 2)

In [35]:
df_sparse = csr_matrix( (np.ones(df_array.shape[0]), (df_array[:,0], df_array[:,1])), shape=(1600000,1600000))

<1600000x1600000 sparse matrix of type '<class 'numpy.float64'>'
	with 27459086 stored elements in Compressed Sparse Row format>

In [32]:
from scipy.sparse.linalg import svds

In [33]:
u,sigma,vt = svds(df_sparse,k=25)

In [ ]:
sigma

In [35]:
sigma = np.diag(sigma)

In [36]:
temp = np.dot(u,sigma)

In [ ]:
pred = np.dot(temp,vt)

In [54]:
mini_df

   LOAN_ID  LENDERS_lst
0        0            3
1        1            3
2        1            1
3        2            1
4        3            1

In [55]:
mini_array = mini_df.values

In [56]:
mini_array.shape

(5, 2)

In [57]:
mini_sparse = scipy.sparse.csr_matrix( (np.ones(mini_array.shape[0]), (mini_array[:,0], mini_array[:,1])), shape=(4,4))

In [58]:
mini_sparse.toarray()

array([[0., 0., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.]])

In [58]:
# df = pd.get_dummies(df_ll.LENDERS_lst)